<!DOCTYPE html>
<html lang="en">
<head>
    <title>智慧物业社区</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/app/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini rtl">

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>

<main class="app-content" style="margin: 0px;">
    <div class="page-error tile">
        <h1><i class="fa fa-exclamation-circle"></i> 请联系钊炀科技有限公司购买服务</h1>
        <p><h2><i class="fa fa-phone"></i>联系电话：15213041124</h2></p>
        <!--<p><a class="btn btn-primary" href="javascript:window.history.back();">Go Back</a></p>-->
    </div>
</main>
<script src="/app/js/jquery-3.2.1.min.js"></script>
<script src="/app/js/popper.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/main.js"></script>
<script src="/app/js/plugins/pace.min.js"></script>

<script type="text/javascript">

</script>
</body>
</html>