<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧物业社区</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/weui/lib/weui.min.css">
    <link rel="stylesheet" href="/weui/css/jquery-weui.css">
    <link rel="stylesheet" href="/weui/css/demos.css">

</head>

<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">账单信息</h1>
</header>

<div class="weui-cells__title">账单列表</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label" th:each="bill,billStat : ${list}">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" checked="checked" name="amount"
                   th:value="${bill.bill_entry_amount}" onclick="amountSum()">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd" th:text="${bill.costTypeName}"></div>
        <div class="weui-cell__bd" th:text="${bill.acct_period}"></div>
        <div class="weui-cell__ft" th:text="${bill.bill_entry_amount}">11</div>
    </label>
</div>

<form class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">付款金额</label>
        <em class="weui-form-preview__value" id="payAmount">¥[[${sumAmount}]]</em>
    </div>
    <!--<div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">商品</label>
            <span class="weui-form-preview__value">电动打蛋机</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">标题标题</label>
            <span class="weui-form-preview__value">名字名字名字</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">标题标题</label>
            <span class="weui-form-preview__value">很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字</span>
        </div>
    </div>-->
    <!--
        https://pay.qcloud.com/cpay/qrcode_disposable_payment?out_shop_id=sz01wAsKl1OQGfoL4ZT3&total_fee=1&trade_num=sz0100m7f010001
    -->
    <div class="weui-form-preview__ft">
        <a href="javascript:void(0);" id="submitPay" class="weui-btn weui-btn_primary">付款</a>
    </div>

</form>


<script src="/weui/lib/jquery-2.1.4.js"></script>
<script src="/weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/weui/js/jquery-weui.js"></script>


<script>
    function amountSum() {
        var amount = 0;
        $.each($('input:checkbox:checked'), function () {
            amount = $(this).val() - 0 + amount;
        });
        $("#payAmount").html("¥" + amount.toFixed(2));
    }
</script>
</body>
</html>
