<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/weui/lib/weui.min.css">
    <link rel="stylesheet" href="/weui/css/jquery-weui.css">
    <link rel="stylesheet" href="/weui/css/demos.css">

</head>

<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">账单信息</h1>
</header>

<div class="weui-cells__title">复选列表项</div>
<div class="weui-cells weui-cells_checkbox" th:each="bill,billStat : ${list}">
    <label class="weui-cell weui-check__label" for="s11">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd" th:text="${bill.costTypeName}"></div>
        <!--<div class="weui-cell__bd" th:text="${bill.acct_period}"></div>-->
        <div class="weui-cell__ft" th:text="${bill.bill_entry_amount}">11</div>
    </label>
</div>





<script src="/weui/lib/jquery-2.1.4.js"></script>
<script src="/weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/weui/js/jquery-weui.js"></script>


<script>

</script>
</body>
</html>
