<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧物业社区</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/weui/lib/weui.min.css">
    <link rel="stylesheet" href="/weui/css/jquery-weui.css">
    <link rel="stylesheet" href="/weui/css/demos.css">

</head>

<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">绑定房屋信息</h1>
</header>
<!--<div th:text="${list}"></div>-->
<form id="form" class="weui-cells weui-cells_form" action="/wechat/bindingRoom">
    <input type="hidden" id="openid" name="openid" th:value="${openid}">
    <input type="hidden" id="roominfoid" name="roominfoid">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="selectHousing" class="weui-label">小区</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectHousing" name="housing" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="selectBuild" class="weui-label">楼栋</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectBuild" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="selectUnit" class="weui-label">单元</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectUnit" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="selectRoom" class="weui-label">房间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectRoom" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="button">绑定</a>
    </div>
</form>


<script src="/weui/lib/jquery-2.1.4.js"></script>
<script src="/weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/weui/js/jquery-weui.js"></script>


<script th:inline="javascript">
    $(function(){
        $('#button').on('click', function(){
            $("#roominfoid").val($("#selectRoom").attr("data-values"));
            $("#form").submit();
        });
    });
    var housing = [[${list}]];
    $("#selectHousing").select({
        title: "选择小区",
        items: housing,
        //input: housing[0].title,
        onClose: function (d) {
            $.ajax({
                type: 'POST',
                url: '/wechat/queryBuilding',
                dataType: 'json',
                async: false,
                data: {
                    parent_id: d.data.values
                },
                success: function (data) {
                    $("#selectBuild").select("update", {items: data})
                    $("#selectBuild").select("open");
                }
            });
        },
    });

    $("#selectBuild").select({
        title: "选择楼栋",
        items: [],
        onClose: function (d) {
            var housingid = $("#selectHousing").attr("data-values");
            $.ajax({
                type: 'POST',
                url: '/wechat/queryUnit',
                dataType: 'json',
                async: false,
                data: {
                    parent_id: housingid,
                    building: d.data.titles,
                },
                success: function (data) {
                    $("#selectUnit").select("update", {items: data})
                    $("#selectUnit").select("open");
                }
            });
        }
    });

    $("#selectUnit").select({
        title: "选择单元",
        items: [],
        onClose: function (d) {
            var housingid = $("#selectHousing").attr("data-values");
            $.ajax({
                type: 'POST',
                url: '/wechat/queryRoom',
                dataType: 'json',
                async: false,
                data: {
                    parent_id: housingid,
                    building: $("#selectBuild").val(),
                    unit: d.data.titles,
                },
                success: function (data) {
                    $("#selectRoom").select("update", {items: data})
                    $("#selectRoom").select("open");
                }
            });
        }
    });

    $("#selectRoom").select({
        title: "选择房间",
        items: [],
    });
</script>
</body>
</html>
