<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/weui/lib/weui.min.css">
    <link rel="stylesheet" href="/weui/css/jquery-weui.css">
    <link rel="stylesheet" href="/weui/css/demos.css">

</head>

<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">绑定房屋信息</h1>
</header>
<!--<div th:text="${list}"></div>-->
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="name" class="weui-label">小区</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectHousing" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="name" class="weui-label">楼栋</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectBuild" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="name" class="weui-label">单元</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectUnit" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="name" class="weui-label">房间</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="selectRoom" type="text" value="请选择" style="color:#999999;text-align:right">
        </div>
    </div>
</div>


<script src="/weui/lib/jquery-2.1.4.js"></script>
<script src="/weui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/weui/js/jquery-weui.js"></script>


<script th:inline="javascript">
    var housing = [[${list}]];
    $("#selectHousing").select({
        title: "选择小区",
        items: housing,
        //input: housing[0].title,
        onClose: function (d) {
            $.ajax({
                type: 'POST',
                url: '/wechat/queryBuilding',
                dataType: 'json',
                async:false,
                data:{
                    parentId : d.data.values
                },
                success:function(data){
                    $("#selectBuild").select("update", { items: data })
                    $("#selectBuild").select("open");
                }
            });
        },
    });

    $("#selectBuild").select({
        title: "选择楼栋",
        items: [],
        onClose: function (d) {
            var housingid = $("#selectHousing").attr("data-values");
            console.log(d.data.titles);
            $.ajax({
                type: 'POST',
                url: '/wechat/queryUnit',
                dataType: 'json',
                async:false,
                data:{
                    parentId: housingid,
                    building: d.data.titles,
                },
                success:function(data){
                    $("#selectUnit").select("update", { items: data })
                    $("#selectUnit").select("open");
                }
            });
        }
    });

    $("#selectUnit").select({
        title: "选择单元",
        items: [],
        onClose: function (d) {
            var housingid = $("#selectHousing").attr("data-values");
            console.log(d.data.titles);
            $.ajax({
                type: 'POST',
                url: '/wechat/queryRoom',
                dataType: 'json',
                async:false,
                data:{
                    parentId: housingid,
                    building: $("#selectBuild").val(),
                    unit: d.data.titles,
                },
                success:function(data){
                    $("#selectRoom").select("update", { items: data })
                    $("#selectRoom").select("open");
                }
            });
        }
    });

    $("#selectRoom").select({
        title: "选择房间",
        items: [],
    });
</script>
</body>
</html>
