<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.dao.BillaccountMapper">
  <resultMap id="BaseResultMap" type="com.wangsd.web.model.Billaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="housing_id" jdbcType="INTEGER" property="housing_id" />
    <result column="roominfo_id" jdbcType="INTEGER" property="roominfo_id" />
    <result column="cost_type" jdbcType="INTEGER" property="cost_type" />
    <result column="bill_entry_amount" jdbcType="DOUBLE" property="bill_entry_amount" />
    <result column="acct_period" jdbcType="VARCHAR" property="acct_period" />
    <result column="release_day" jdbcType="VARCHAR" property="release_day" />
    <result column="deadline" jdbcType="VARCHAR" property="deadline" />
    <result column="relate_id" jdbcType="VARCHAR" property="relate_id" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="payDate" jdbcType="TIMESTAMP" property="payDate" />
    <result column="payType" jdbcType="INTEGER" property="payType" />
    <result column="payStatus" jdbcType="BIT" property="payStatus" />
    <result column="deleteStatus" jdbcType="BIT" property="deleteStatus" />
    <result column="alipay_trade_no" jdbcType="VARCHAR" property="alipay_trade_no" />
    <result column="weixin_trade_no" jdbcType="VARCHAR" property="weixin_trade_no" />
    <result column="printStatus" jdbcType="BIT" property="printStatus" />
    <result column="ticketStatus" jdbcType="INTEGER" property="ticketStatus" />
    <result column="invoiceSerialNum" jdbcType="VARCHAR" property="invoiceSerialNum" />
    <result column="invoiceCode" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="invoiceNum" jdbcType="VARCHAR" property="invoiceNum" />
    <result column="buyer_user_id" jdbcType="VARCHAR" property="buyer_user_id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>

    <select id="queryBillByRoomid" parameterType="int" resultType="com.wangsd.web.pojo.BillaccountCustom">
        SELECT
            b.*, c.name as costTypeName
        FROM
            billaccount b
        LEFT JOIN costtype c ON b.cost_type = c.id
        WHERE
            b.roominfo_id = #{roomid}
        AND b.deleteStatus = FALSE
        AND b.payStatus = FALSE
    </select>
</mapper>