<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.dao.HousinginfoMapper">
    <resultMap id="BaseResultMap" type="com.wangsd.web.model.Housinginfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="district_code" jdbcType="VARCHAR" property="districtCode"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="community_locations" jdbcType="VARCHAR" property="communityLocations"/>
        <result column="associated_pois" jdbcType="VARCHAR" property="associatedPois"/>
        <result column="hotline" jdbcType="VARCHAR" property="hotline"/>
        <result column="message_num" jdbcType="INTEGER" property="messageNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="deleteStatus" jdbcType="BIT" property="deletestatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="water_unit" jdbcType="DOUBLE" property="waterUnit"/>
    </resultMap>

    <select id="queryHousinginfoList" resultType="com.wangsd.web.model.Housinginfo">
        select * from housinginfo
        <if test="parentId != null and parentId != ''">
            and parent_id = #{parentId}
        </if>
            order by id desc
    </select>
</mapper>