<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.wangsd.web.model.RolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="role_id" />
    <id column="permission_id" jdbcType="BIGINT" property="permission_id" />
  </resultMap>
</mapper>