<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.dao.ServiceinfoMapper">
  <resultMap id="BaseResultMap" type="com.wangsd.web.model.Serviceinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="contact_people" jdbcType="VARCHAR" property="contact_people" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contact_phone" />
    <result column="contact_address" jdbcType="VARCHAR" property="contact_address" />
    <result column="parent_id" jdbcType="INTEGER" property="parent_id" />
    <result column="app_id" jdbcType="VARCHAR" property="app_id" />
    <result column="merchant_private_key" jdbcType="VARCHAR" property="merchant_private_key" />
    <result column="alipay_public_key" jdbcType="VARCHAR" property="alipay_public_key" />
    <result column="return_url" jdbcType="VARCHAR" property="return_url" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
</mapper>