<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.dao.WeixinconfigMapper">
  <resultMap id="BaseResultMap" type="com.wangsd.web.model.Weixinconfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appId" jdbcType="VARCHAR" property="appid" />
    <result column="appSecret" jdbcType="VARCHAR" property="appsecret" />
  </resultMap>
</mapper>